<%- include('includes/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  </head>

  <body>
    <main class="container">

      <div class="col-12 d-flex align-item-center justify-content-center">

        <form action="/player/edit/submit" method="POST" class="col-md-10 row">
          <h1 class="col-12 my-4 text-center">Update player</h1>

          <div class="form-group col-6">
            <label for="id">id</label>
            <input class="form-control" type="text" name="id" id="id" readonly value="<%= data.id %>"/>
          </div>

          <div class="form-group col-6">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" value="<%= data.name %>"/>
          </div>
          <div class="form-group col-6">
            <label for="profile">Image</label>
            <input class="form-control" type="url" name="profile" if="profile" value="<%= data.profile %>"/>
          </div>
          <div class="form-group col-6">
            <label for="DOB">DOB</label>
            <input class="form-control" type="Date" name="DOB" id="DOB" value="<%= data.DOB %>"/>
          </div>
          <div class="form-group col-6">
            <label for="matches">matches</label>
            <input class="form-control" type="number" min="0" name="matches" id="matches" value="<%= data.matches %>"/>
          </div>
          <div class="form-group col-6">
            <label for="fifty">fifty</label>
            <input class="form-control" type="number" name="fifty" id="fifty" value="<%= data.fifty %>"/>
          </div>
          <div class="form-group col-6">
            <label for="hundreds">hundreds</label>
            <input class="form-control" type="number" min="0" name="hundreds" id="hundreds" value="<%= data.hundreds %>"/>
          </div>
          <div class="form-group col-6">
            <label for="fifty">age</label>
            <input class="form-control" type="number" min="16" name="age" id="age" value="18" value="<%= data.age %>"/>
          </div>
          <div class="form-group col-6">
            <label for="birthplace">birthplace</label>
            <input class="form-control" type="text" name="birthplace" id="birthplace" value="<%= data.birthplace %>"/>
          </div>
          <div class="form-group col-6">
            <label for="avg">avg</label>
            <input class="form-control" type="text" name="avg" id="avg" value="<%= data.avg %>"/>
          </div>
          <div class="form-group col-6">
            <label for="wicket">wicket</label>
            <input class="form-control" type="number" name="wicket" id="wicket" value="<%= data.wicket %>"/>
          </div>
          <div class="form-group col-12">
            <label for="career">career</label>
            <textarea class="form-control" type="number" name="career" id="career"><%= data.career %></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-info">update</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('includes/end.ejs') %>